body{
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
background: #;

}

.app-container{
width:80%;
margin:40px auto;
}

.title{
text-align:center;
color:#2563eb;
margin-bottom:30px;
}

.form-container{
background: white;
padding: 15px;
border-radius:30px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
width: 450px;
margin: 0 auto 30px auto;

}

#title{
text-align:center;
background:lightgreen;
border-radius:30px
}

.button-container{
display:flex;
justify-content:center;
}


.table-container{
background: white;
padding: 30px;
border-radius:30px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
width: 460px;
margin: 0 auto 30px auto;
}

.form-group{
display:flex;
align-items:center;
margin-bottom:10px;}

.form-group label{
width:70px;
font-weight:bold;
color:#444;
}

.form-group input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}